# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
!terraform/terraform.tfvars.example

# Python
app/__pycache__/
app/*.pyc
app/.pytest_cache/
app/venv/
app/.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
